.container-delete {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.btn-delete-complete {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: skyblue;
  color: #ffffff;
}

.btn-delete-complete:hover {
  background-color: lightblue;
}