.task-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.input-container {
  padding: 8px;
  width: 200px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-add {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

.btn-add:hover {
  background-color: #45a049;
}